target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/based on javaReflection.lnk
/docs/api/html/
/docs/asciidoc/html/
/cise-adaptor-quarkus/logs/
/.scannerwork/
/.devenv/.scannerwork/
/cise-adaptor-quarkus/db/database.trace.db
